.button-help {
  position: fixed;
  color: var(--bleu);
  background: var(--white);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 47px;
  top: 107px;
  left: 160px;
  box-shadow: 10px 10px 0px 0px var(--orange);
}

.button-help:hover {
  outline: 4px solid var(--orange);
  outline-offset: -4px;
}

.button-defi {
  padding: 10px 33px;
  background: var(--green);
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
}

.button-defi:active {
  color: var(--green);
  background: var(--white);
}

.button-exercice {
  display: flex;
  height: 42px;
  padding: 22px 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--white);
  color: var(--bleu);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.button-box {
  background: var(--pink);
  display: flex;
  flex-wrap: wrap;
}

.button-exercice:active {
  outline: 4px solid var(--orange);
  outline-offset: -2px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.button-charger-defi {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--cyan);
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-code {
  display: flex;
}

.button-action-dossier {
  color: var(--red);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  border: none;
  background: none;
}

.button-right {
  color: var(--vert-fonce);
  margin-right: 20px;
}

.button-coche {
  margin-right: 10px;
}

.button-secondary {
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--cyan);
  padding: 12px 40px;
  border: none;
}

.button-charger-defi:active,
.button-secondary:hover {
  color: var(--green-80);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  outline: 4px solid var(--cyan);
  outline-offset: -4px;
  background: var(--white);
}

.button-exercice:active {
  outline: 3px solid var(--bleu);
}
