.flex-button {
  background: var(--maquette-1-pink, #ed70a4);
  display: flex;
  flex-wrap: wrap;
}

.f-option {
  display: flex;
  flex-wrap: wrap;
}

.f-question {
  display: flex;
  justify-content: space-between;
}

.f-temps {
  display: flex;
  flex-direction: column;
}
