.contact-titre {
  text-align: right;
}

.contact-a {
  color: var(--beige);
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  text-transform: lowercase;
}

.text-christophe {
  margin-bottom: 60px;
}
