.bloc {
  border: 18px solid var(--bleu, #0f5fa6);
  background: var(--maquette-1-White, #fff);
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
