.n-option {
  color: white;
  background: var(--maquette-1-pink, #ed70a4);
  display: flex;
  padding: 25px 478px 25px 20px;
  align-items: flex-start;
  gap: 20px;
}

.n-parent {
  position: relative;
}

.n-child {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: var(--bleu, #0f5fa6);
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
}

.n-child button {
  background: none;
  border: 2px solid var(--maquette-1-yellow, #ffdc5e);
  background: var(--maquette-1-White, #fff);
}

.n-parent > a:hover > .n-child {
  opacity: 1;
}
