.bloc {
  outline: 18px solid var(--bleu, #0f5fa6);
  outline-offset: -18px;
  background: var(--maquette-1-White, #fff);
  box-shadow: 15px 10px 0px 0px var(--pink);
}

.contact {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.question,
.impression {
  color: var(--bleu);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.text-temps {
  color: var(--bleu);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cardrillage {
  padding: 60px;
  margin: 0 44px;
}
