.bloc {
  outline: 18px solid var(--bleu);
  outline-offset: -18px;
  background: var(--white);
  box-shadow: 15px 10px 0px 0px var(--pink);
}

.bloc > form > input {
  margin-top: 19px;
}

.contact {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.question,
.impression {
  color: var(--bleu);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.text-temps {
  color: var(--bleu);
  font-weight: 500;
}

.cardrillage {
  background-image: url(../img/cadrillage.png);
  padding: 60px;
  margin: 0 44px;
}
