/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h2 {
  color: var(--maquette-1-White, #fff);
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 0px 15px 0px 0px;
  background: var(--bleu, #0f5fa6);
}

footer {
  background: var(--maquette-1-orange, #f9b146);
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 500;
}

h4 {
  color: var(--maquette-1-beige, #fcfaf0);
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

/* ====================================
// base rules
// ==================================== */
