/* ====================================
// css variables
// ==================================== */

:root {
  --pink: #ed70a4;
  --yellow: #ffdc5e;
  --bleu: #0f5fa6;
  --white: #fff;
  --green: #368734;
  --cyan: #79cae1;
  --orange: #f9b146;
  --mandarine: #f3a413;
  --red: #f23927;
  --beige: #fcfaf0;
  --vert-fonce: #137246;
  --green-80: rgba(54, 135, 52, 0.6);
  --dark: #2e3f4e;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Helvetica Neue";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
  color: var(--White);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

header {
  position: relative;
  margin-top: 84px;
}

h2 {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0px 15px 0px 0px;
  background: var(--bleu);
  box-shadow: 15px 10px 0px 0px var(--pink);
}

footer {
  background: var(--orange);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
}

h3 {
  color: var(--bleu);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 45px;
  margin-top: 45px;
}

h4 {
  color: var(--beige);
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ====================================
// base rules
// ==================================== */
